@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* CSS DO HEADER/NAVEGAÇÃO */

.fundo-barraPesquisa {
    background-color: #B13D0C;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo-barraPesquisa div {
    display: flex;
}

.logoPrincipal-cacareceita {
    position: absolute;
    left: 74px;
    margin-top: 6px;
}

.logoPrincipal-cacareceita img {
    width: 131px;
}

.barra-pesquisa {
    background-color: #FFF9F0;
    height: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding-left: 4px;
    font-size: 15px;
    color: #994E0D;
}

.barra-pesquisa::placeholder {
    color: #994E0D;
}

.botao-pesquisar {
    height: 25px;
    background-color: #FFF9F0;
    border: none;
    border-radius: 10px;
    position: absolute;
    margin-left: 270px;
    cursor: pointer;


}

.botao-pesquisar img {
    width: 20px;
    margin-top: 2px;
}

.perfil {
    position: absolute;
    right: 100px;
}

.icon-perfil {
    width: 40px;
    cursor: pointer;
}

.navegacao {
    height: 30px;
    border-bottom: 5px solid #B13D0C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-menu {
    display: flex;
}

.lista-menu li a {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #B13D0C;
    font-weight: 500;
    margin-right: 100px;

}

.lista-menu li:nth-child(2) a {
    color: #88AA27;
}

/*CSS DA ÁREA PRINCIPAL*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-principal {
    max-width: 1000px;
    margin-top: 40px;
    object-fit: cover;
}

.titulo-pesquiseReceita {
    margin-top: 40px;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    width: 400px;
    line-height: 1.5em;
}


.botao-busqueAqui {
    border: none;
    background-color: #803804;
    width: 190px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.fundoUtensilio2 {
    position: absolute;
    width: 200px;
    left: -37px;
    top: 298px;
}

.fundoUtensilio1 {
    position: absolute;
    width: 200px;
    right: 0px;
    top: 323px;
}

#texto-ReceitaIncrivel {
    margin-top: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: #D39055;
    text-transform: uppercase;
}

#linha-ReceitaIncrivel {
    margin-top: 10px;
    border-bottom: 4px solid #496300;
    border-radius: 4px;
    width: 750px;
}

.conteudo-receitas {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha-cardReceita {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    gap: 43px;
}

.cardReceita {
    background-color: #FFF9F0;
    width: 210px;
    height: 270px;
    border: 2px solid #EACFA7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    position: relative;
}

.caixaEtiqueta-receita {
    position: absolute;
    top: 4px;
    left: 21px;
}

.etiquetaReceita {
    width: 75px;
}

.foto-receita {
    width: 170px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.cardReceita p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 150px;
    text-align: center;
    margin-bottom: 10px;

}

.avaliacao-receita {
    display: flex;
}

.estrela-avaliacao {
    width: 20px;
}

#banner-anuncio {
    width: 1000px;
    height: 200px;
    margin-bottom: 30px;
}

#anuncio2 {
    background-color: #D9D9D9;
    width: 200px;
    height: 300px;
    margin-right: 10px;
}

.rodape {
    background-image: url("../img/fundo-rodape.png");
    width: auto;
    height: 150px;
}

.logo-cabaret {
    width: 80px;
}

.itens {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 40px;
    width: 400px;
    gap: 20px;
}

.itens p {
    font-family: "Inter", sans-serif;
    margin-bottom: 7px;
}  

/* Menu perfil */

.menu-perfil {
    width: 300px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FFF;
    z-index: 2;
    font-family: "Josefin Sans", sans-serif;
    display: none;
    border: 1px solid #496300;
}

.show-perfil {
    display: block;
}

.menu-perfil-header {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
    color: #B13D0C;
    margin-top: 20px;
}

.menu-perfil-header img {
    width: 100px;
    height: 100px;
}

.menu-perfil-content {
    width: 100%;
    margin-top: 30px;
}

.menu-perfil-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-size: 20px;
}

.menu-perfil-content ul li a {
    text-decoration: none;
    color: inherit;
}

.menu-perfil-content ul li {
    border-top: 1px solid #496300;
    width: 100%;
    text-align: center;
    padding: 15px 0 15px;
}

.menu-perfil-content ul li:nth-child(5) {
    border-bottom: 1px solid #496300;
}

.menu-perfil-logout button {
    margin: 100px auto 0;
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: #B13D0C;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.menu-perfil-logout button img {
    width: 30px;
}

#onda-menu-top {
    width: 300px;
    position: absolute;
    top: 0;
}

#onda-menu-footer {
    width: 300px;
    position: absolute;
    bottom: 0;
}

/** blur */

.blur {
    width: calc(100% - 300px);
    height: 100%;
    position: absolute;
    background-color: #000000b8;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

/** Login e Registro */

.login-register {
    margin-top: 50px;
    text-align: center;
}

.login-register a {
    text-decoration: none;

    width: 197px;
    height: 49px;
    border-radius: 20px;
    text-align: center;
    color: #B13D0C;
    padding: 3px 15px;
    border: 1px solid #B13D0C;
}

.div-assinatura {
    margin-top: 50px;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #496300;
    border-bottom: 1px solid #496300;
}

.div-assinatura li a {
    text-decoration: none;
    color: black;
}

/** Modal Sair */

.sair {
    display: none;
    font-family: "Josefin Sans", sans-serif;
    width: 257px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    overflow: hidden;

}

#onda-sair {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#icon-x-sair {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 21px;
    top: 7px;
    z-index: 1;
    cursor: pointer;
}

.header-sair h1 {
    margin-top: 30px;
    color: #B13D0C;
    text-align: center;
}

.form-sair {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form-sair button {
    width: 150px;
    border-radius: 20px;
    padding: 3px 15px;
    margin: 0 auto;
    background-color: #B13D0C;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.27);
}

.form-sair form a {
    text-decoration: none;
    color: inherit;
}

#prato-sair {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160px;
    z-index: -1;
}
