@media screen and (min-width: 744px) and (max-width: 1100px) {

    .barra {
        width: 100px;
    }

    main #text-h1 {
        margin-top: 60px;
        margin-left: 0;
    }

    .planos {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }

    main #continuar {
        margin-left: 200px;
    }

    .plano-mensal, .plano-anual {
        border-radius: 5px;
    }

}