@media screen and (min-width: 743px) and (max-width: 1100px) {
    .rodape {
        width: auto;
        height: 140px;
    }

    .logo-cabaret {
        width: 70px;
    }

    .itens {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .itens p {
        font-size: 14px
    }
}

/* Arrumando o footer em todos */
.rodape {
    width: auto;
    background-repeat: no-repeat;
}