@media screen and (min-width: 744px) and (max-width: 1100px) { 
    .logoPrincipal-cacareceita {
        position: initial;
        left: 74px;
        margin-top: 6px;
    }

    .perfil {
        position: initial;
        right: 100px;
    }

    .fundo-barraPesquisa {
        justify-content: space-between;
        padding: 0 15px;
    }

    .lista-menu {
        width: 100%;
        justify-content: space-between;
        padding: 0 20px;
    }

    .lista-menu li a {
        margin-right: 0;
    }
    
}