@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo-barraPesquisa {
    background-color: #1A2300;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo-barraPesquisa div {
    display: flex;
}

.logoPrincipal-cacareceita {
    position: absolute;
    left: 74px;
    margin-top: 6px;
}

.logoPrincipal-cacareceita img {
    width: 131px;
}
.barra-pesquisa {
    background-color: #ffffff;
    height: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding-left: 4px;
    font-size: 15px;
    color: #331C10;
}

.botao-pesquisar {
    height: 25px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    position: absolute;
    margin-left: 270px;
    cursor: pointer;

    
}
.botao-pesquisar img{
    width: 20px;
    margin-top: 2px;
}

.perfil {
    position: absolute;
    right: 100px;
}

.icon-perfil {
    width: 40px;
    cursor: pointer;
}
.navegacao {
    height: 30px;
    border-bottom: 5px solid #1A2300;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-menu {
    display: flex;
}

.lista-menu li a{
    text-decoration: none;

    font-size: 18px;
    color: #331C10;
    font-weight: 500;
    margin-right: 100px;
 
}
.lista-menu li:nth-child(4) a {
    color: #88AA27;
}


#anuncio-ifood {
    width: 80%;
    margin: 80px auto 40px;
}

.receita-top {
    display: flex;
    justify-content: center;
    gap: 60px;
}

#anuncio-ifood img {
    width: 100%;
}

.receita-img-audio {
    width: 500px;
}

.receita-img-audio img {
    width: 100%;
    margin-bottom: 40px;
}

.receita-img-audio audio {
    width: 100%;
}

.receita-info {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.receita-info h1 {
    font-size: 42px;
    color: #9DAB75;
}

.receita-acoes {
    display: flex;
    gap: 20px;
}

.favoritar, .compartilhar, .imprimir, .copiar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #d9d9d9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
}

.favoritar:active, .compartilhar:active, .imprimir:active, .copiar:active {
    top: 1px;
}

.estrelas img {
    cursor: pointer;
}

.qtd-pessoas, .tempo-preparo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.receita-info2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 176px;
}

.qtd-pessoas p, .tempo-preparo p {
    font-size: 20px;
}


.receita-main {

    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 90px auto;
}

#dica {
    width: 350px;
    height: 160px;
    border: 3px solid #8D3F12;
    border-radius: 50px;
    background-color: hsla(25, 89%, 35%, 0.333);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding: 0 10px;
    margin: 30px 0;
}

#dica h3 {
    color: #631800;
    margin: 15px 0 20px 0;
}

#anuncio-sadia {
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

#anuncio-sadia img{
    width: 100%;
}

.receita-main h1 {
    color: #9DAB75;
    font-size: 27px;
    margin-bottom: 60px;
} 

.receita-main h4{
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.receita-modo-prep, .receita-ing {
    width: 400px;
}

.receita-modo-prep ol, .receita-ing ol {
    list-style: decimal;
    font-size: 20px;
}

.receita-modo-prep ul, .receita-ing ul {
    list-style: circle;
    font-size: 20px;
}

/** Comentario */

#comentario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comentario h1 {
    font-size: 40px;
    color: #496300;
    margin-bottom: 30px;
}

.adicionar-comentario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.adicionar-comentario img, .usuario-perfil img {
    width: 60px;
    height: 60px;

}

#enviar-comentario {
    width: 100px;
    height: 60px;
    border-radius: 15px;
    background-color: #496300;
    border: 1px solid #496300;
    cursor: pointer;
    position: relative;

}

#enviar-comentario:active {
    top: 1px;
}

#enviar-comentario img {
    width: 37px;
    height: 37px;
}

#escrever-comentario {
    width: 700px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #B13D0C;
    color: #B13D0C;
    font-size: 20px;
    padding-left: 20px;
}

#escrever-comentario::placeholder {
    color: #B13D0C;
}

.comentario-info {
    margin: 60px 0 20px;
}

.comentario-info span {
    font-size: 24px;
    margin-left: 30px;
}

.bar {
    width: 890px;
    height: 2px;
    background-color: #D9D9D9;
    position: relative;
}

.bar2 {
    width: 200px;
    height: 2px;
    background-color: #496300;
}

.comentario {
    width: 890px;
    border: 1px solid #B13D0C;
    border-radius: 15px;
    height: 120px;
    padding: 5px 10px 0px 10px;
    margin: 20px 0;
}

.usuario-perfil {
    display: flex;
    position: relative;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.usuario-perfil button {
    background-color: rgba(177, 62, 12, 0.500);
    position: absolute;
    right: 20px;
    width: 169px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid  rgba(177, 62, 12, 0.500);
}

.usuario {
    color: #496300;
    font-size: 18px;
}

/** Footer  */

.rodape{
    margin-top: 50px;
}

.fundo-rodape{
    position: absolute;
    width: 100%;
    height: 222px;
    left: 0;
   
}

.itens {
    position: absolute;
    display: flex;
    margin-left: 20px;
    align-items: center;
    height: 222px;
    align-content: center;
 
}

.itens img {
    width: 130px;
    margin-right: 40px;
}

.itens p {
    font-family: "Jost", sans-serif;
    margin-bottom: 7px;
    color: white;
}

/* Menu perfil */

.menu-perfil {
    width: 300px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FFF;
    z-index: 2;
    font-family: "Josefin Sans", sans-serif;
    display: none;
    border: 1px solid #496300;
}

.show-perfil {
    display: block;
}

.menu-perfil-header {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
    color: #B13D0C;
    margin-top: 20px;
}

.menu-perfil-header img {
    width: 100px;
    height: 100px;
}

.menu-perfil-content {
    width: 100%;
    margin-top: 30px;
}

.menu-perfil-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-size: 20px;
}

.menu-perfil-content ul li a {
    text-decoration: none;
    color: inherit;
}

.menu-perfil-content ul li {
    border-top: 1px solid #496300;
    width: 100%;
    text-align: center;
    padding: 15px 0 15px;
}

.menu-perfil-content ul li:nth-child(5) {
    border-bottom: 1px solid #496300;
}

.menu-perfil-logout button {
    margin: 100px auto 0;
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: #B13D0C;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.menu-perfil-logout button img {
    width: 30px;
}

#onda-menu-top {
    width: 300px;
    position: absolute;
    top: 0;
}

#onda-menu-footer {
    width: 300px;
    position: absolute;
    bottom: 0;
}

/** blur */

.blur {
    width: calc(100% - 300px);
    height: 100%;
    position: absolute;
    background-color: #000000b8;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

/** Login e Registro */

.login-register {
    margin-top: 50px;
    text-align: center;
}

.login-register a {
    text-decoration: none;

    width: 197px;
    height: 49px;
    border-radius: 20px;
    text-align: center;
    color: #B13D0C;
    padding: 3px 15px;
    border: 1px solid #B13D0C;
}

.div-assinatura {
    margin-top: 50px;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #496300;
    border-bottom: 1px solid #496300;
}

.div-assinatura li a {
    text-decoration: none;
    color: black;
}

/** Modal Sair */

.sair {
    display: none;
    font-family: "Josefin Sans", sans-serif;
    width: 257px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    overflow: hidden;

}

#onda-sair {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#icon-x-sair {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 21px;
    top: 7px;
    z-index: 1;
    cursor: pointer;
}

.header-sair h1 {
    margin-top: 30px;
    color: #B13D0C;
    text-align: center;
}

.form-sair {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form-sair button {
    width: 150px;
    border-radius: 20px;
    padding: 3px 15px;
    margin: 0 auto;
    background-color: #B13D0C;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.27);
}

.form-sair form a {
    text-decoration: none;
    color: inherit;
}

#prato-sair {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160px;
    z-index: -1;
}