<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Livro de Receita</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/livroReceitaConfeiteiro.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/header-responsivo.css' %}">
    <link rel="stylesheet" href="{% static 'css/livroReceita-responsivo.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-responsivo.css' %}">
</head>

<body>
    <header>
        <div class="fundo-barraPesquisa">
            <a href="{% url 'homeConfeiteiro' %}" class="logoPrincipal-cacareceita">
                <img src="{% static 'img/logoPrincipal-cacareceita3.png' %}">
            </a>
            <div>
                <input class="barra-pesquisa" type="text">
                <button class="botao-pesquisar"><img src="{% static 'img/icon-pesquisa.png' %}"></button>
            </div>
            <div class="perfil" id="menu-perfil">
                <img class="icon-perfil" src="{% static 'img/icon-perfil.png' %}">
            </div>
        </div>
        <nav class="navegacao">
            <ul class="lista-menu">
                <li><a href="{% url 'homeMiniChef' %}">Mini Chef</a></li>
                <li><a href="{% url 'homeAprendiz' %}">Aprendiz</a></li>
                <li><a href="{% url 'homeSubChef' %}">SubChef</a></li>
                <li><a href="{% url 'homeChef' %}">Chef</a></li>
                <li><a href="{% url 'homeConfeiteiro' %}">Confeiteiro</a></li>
                <li><a href="{% url 'homeVegano' %}">Vegano</a></li>
            </ul>
        </nav>
        <img id="imgOndasNav" src="{% static 'img/imgOndasNavConfeiteiro.png' %}">
        {% if user.is_authenticated %}
        <div class="menu-perfil">
            <img src="{% static 'img/ondas-menu-perfil-top.svg' %}" id="onda-menu-top" alt="">
            <div class="menu-perfil-header">
                <img src="{% static 'img/icon-menu-perfil.svg' %}" alt="">
                <h1>{{user.username}}</h1>
            </div>
            <div class="menu-perfil-content">
                    <ul>
                        <li><a href="{% url 'editarPerfilConfeiteiro' %}">Editar perfil</a></li>
                        <li><a href="{% url 'livroReceitaConfeiteiro' %}">Livro de receita</a></li>
                        <li><a href="{% url 'adicionarReceitaConfeiteiro' %}">Adicionar receita</a></li>
                        <li><a href="{% url 'minhasReceitasConfeiteiro' %}">Minhas receitas</a></li>
                        <li><a href="{% url 'assinatura-confeiteiro' %}">Assinaturas</a></li>
                    </ul>
            </div>
            <div class="menu-perfil-logout">
                <button id="logout">
                    <img src="{% static 'img/icon-porta.svg' %}" alt="">
                    <p>Sair</p>
                </button>
            </div>
            <img src="{% static 'img/ondas-menu-perfil-footer.svg' %}" id="onda-menu-footer" alt="">
        </div>
        {% else %}
        <div class="menu-perfil">
            <img src="{% static 'img/ondas-menu-perfil-top.svg' %}" id="onda-menu-top" alt="">
            <div class="login-register">
                <a href="{% url 'login' %}">Entrar</a>
                <a href="{% url 'cadastro' %}">Cadastrar-se</a>
            </div>
            <div class="div-assinatura">
                <ul>
                    <li><a href="#">Assinaturas</a></li>
                </ul>
            </div>
            <img src="{% static 'img/ondas-menu-perfil-footer.svg' %}" id="onda-menu-footer" alt="">
        </div>
        {% endif %}
    </header>

    <main>
        <div class="tituloLivroReceita">
            <div class="linhaTitulo"></div>
            <p>Meu livro de Receita</p>
            <div class="linhaTitulo"></div>
        </div>

        <section class="secao-livrosReceitas">
            <div class="linhaReceitasFavoritas">
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
            </div>
            <div class="linhaReceitasFavoritas">
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
            </div>
            <div class="linhaReceitasFavoritas">
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div>
                <div class="cardReceita">
                    <img class="foto-cardReceita" src="{% static 'img/imagem-receita.png' %}">
                    <p  class="titulo-cardReceita">Tortinha de Arroz</p>
                    <div class="descricao-cardReceita">
                        <div class="qntdPessoas-receita">
                            <img src="{% static 'img/iconPessoa-receita.png' %}">
                            <p>5</p>
                        </div>
                        <div class="tempoEstimado-receita">
                            <img src="{% static 'img/iconTempo-receita.png' %}">
                            <p>10 min</p>
                        </div>
                    </div>
                    <button class="botaoRemover-receita">
                        <img src="{% static 'img/iconRemover-receita.png' %}">
                        <p>Remover Receita</p>
                    </button>
                    <button class="botaoAnotacoes-receita">
                        <img src="{% static 'img/iconAnotacoes-receita.png' %}">
                        <p>Ver minhas anotações</p>
                    </button>
                </div> 
            </div>
        </section>
        <div class="notas">
            <img id="x" src="{% static 'img/icon-x.svg' %}">
            <img id="ondaNotas" src="{% static 'img/onda-notas.svg' %}">
            <h1>Receita de tortinha de arroz</h1>
            <ul>
                <li>Adicionar um punhado de queijo e mexer sem parar para que ele fique mais cremoso </li>
                <li>Adicionar um punhado de queijo e mexer sem parar para que ele fique mais cremoso </li>
                <li>Adicionar um punhado de queijo e mexer sem parar para que ele fique mais cremoso </li>
            </ul>
            <input type="text" name="anotacoes" id="anotacoes" placeholder="Digite suas anotações...">
            <button id="salvar">salvar</button>
        </div>

        <div class="remover-receita">
            <img src="{% static 'img/onda-menu-perfil-sair.svg' %}" id="onda-remover" alt="">
            <img src="{% static 'img/icon-x-menu-sair.svg' %}" class="voltar" id="icon-x-remover" alt="">
            <div class="header-remover">
                <h1>Deseja remover essa receita?</h1>
            </div>
            <div class="form-remover">
                <form>
                    {% csrf_token %}
                    <button type="submit">
                        Sim, desejo sair!
                    </button>
                </form>

                <form>
                    <button type="submit" class="voltar-receita">Não</button>
                </form>
            </div>


            <img src="{% static 'img/prato-img-sair.svg' %}" id="prato-sair" alt="">
        </div>

    </main>
    <div class="blur">
        <div class="sair">
            <img src="{% static 'img/onda-menu-perfil-sair.svg' %}" id="onda-sair" alt="">
            <img src="{% static 'img/icon-x-menu-sair.svg' %}" class="voltar" id="icon-x-sair" alt="">
            <div class="header-sair">
                <h1>Deseja realmente sair?</h1>
            </div>
            <div class="form-sair">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        Sim, desejo sair!
                    </button>
                </form>
            
                <form action="{% url 'login' %}" method="get">
                    <button type="submit" class="voltar">Não, desejo voltar!</button>
                </form>
            </div>
            
            
            <img src="{% static 'img/prato-img-sair.svg' %}" id="prato-sair" alt="">
        </div>
    </div>
    <footer class="rodape">
        <div class="itens">
            <img class="logo-cabaret" src="{% static 'img/logo-cabaret.png' %}">
            <div>
                <p style="font-weight: 500;">CaçaReceita</p>
                <p>+55 (81) 9 0000-0000</p>
                <p>Cabaret_startup@gmail.com</p>
            </div>

        </div>
    </footer>
    <script src="{% static 'js/menuPerfil.js' %}"></script>
    <script src="{% static 'js/livroReceita.js' %}"></script>
</body>

</html>