<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>

    <title>Caça Receita</title>

    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="area-login">
            <div class="area-laranja">
                <img src="{% static 'img/logo.svg' %}" alt="logo">
                <h1>Bem vindo</h1>
                <h3>Novo login?</h3>
                <a href="{% url 'cadastro' %}">Crie sua conta</a>
            </div>
            <div class="area-transparente">
                <h1>Login</h1>

                <!-- Aqui está o pop-up de erro -->
                <div class="pop-up" id="error-popup">
                    <div class="pop-up-header">
                        <img src="{% static 'img/icon-X.svg' %}" alt="" onclick="closePopup()">
                    </div>
                    <h4>Atenção!</h4>
                    <div class="error-msg" id="status-cadastro">
                        <img src="{% static 'img/icon-atencao.svg' %}" alt="">
            
                        <p class="error-text">E-mail já cadastrado!</p><!-- Mensagem de erro será preenchida dinamicamente -->
                    </div>
                </div>

                

                <form id="loginForm" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <label>
                        <i><img src="{% static 'img/icon-user.svg' %}" alt="icon user"></i>
                        <input id="user" type="text" name="username" placeholder="Digite seu usuário" required>
                    </label>

                    <label>
                        <i><img src="{% static 'img/icon-password.svg' %}" alt="icon password"></i>
                        <input id="password" type="password" name="senha" placeholder="Digite sua senha" required>
                    </label>

                    <a href="#">Esqueci a senha</a>

                    <button id="entrar" type="submit" disabled>Entrar</button>
                </form>

                <h3>Entre com:</h3>

                <div class="outras-formas-login">
                    <a href="#" target="_blank">
                        <img src="{% static 'img/icon-google.svg' %}" alt="">
                    </a>
                    <a href="#" target="_blank">
                        <img src="{% static 'img/icon-apple.svg' %}" alt="">
                    </a>
                    <a href="#" target="_blank">
                        <img src="{% static 'img/icon-facebook.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Exibe o pop-up de erro quando a página é carregada
            document.querySelector('.pop-up').style.display = 'block';

            // Esconde o pop-up de erro após 1.97 segundos
            setTimeout(function() {
                document.querySelector('.pop-up').style.display = 'none';
            }, 1997);
        });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('loginForm').addEventListener('input', function() {
            var username = document.getElementById('user').value;
            var password = document.getElementById('password').value;
            var entrarButton = document.getElementById('entrar');

            if (username.trim() !== '' && password.trim() !== '') {
                entrarButton.removeAttribute('disabled');
            } else {
                entrarButton.setAttribute('disabled', 'disabled');
            }
        });
    });
</script>

</body>

</html>
