<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caça Receita - Modos de cozinhar,</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/modosCozinha.css">
    <link rel="stylesheet" href="../static/css/reset.css">
</head>
<body>
    <main class="principal">
        <div class="caixa-footer">
        </div>

        <h1 class="titulo-home">Escolha seu modo de cozinhar</h1>

        <div class="caixa-modos">
            <div class="caixas">
                <img class="fundo" src="../static/img/mirin.png">
                <div>
                    <p class="titulo-mirim">Mini Chef</p>
                    <img class="boneco-mirim" src="../static/img/boneco-mirim.png">
                </div>  
            </div>
            <div class="caixas">
                <img class="fundo" src="../static/img/fundo-aprendiz.png">
                <div>
                    <p class="titulo-modo">Aprendiz</p>
                    <img class="boneco-aprendiz" src="../static/img/boneco-aprendiz.png">
                </div>
            </div>
            <div class="caixas">
                <img class="fundo" src="../static/img/fundo-subchef.png">
                <div>
                    <p class="titulo-modo">SubChef</p>
                    <img class="boneco-subchef" src="../static/img/boneco-subchef.png">
                </div>
            </div>
            <div class="caixas">
                <img class="fundo" src="../static/img/fundo-chef.png">
                <div>
                    <p class="titulo-modo">Chef</p>
                    <img class="boneco-chef" src="../static/img/boneco-chef.png">
                </div>
            </div>
            <div class="caixas">
                <img class="fundo" src="../static/img/fundo-confeitaria.png">
                <div>
                    <p class="titulo-modo">Confeitaria</p>
                    <img class="boneco-confeitaria" src="../static/img/boneco-confeitaria.png">
                </div>
            </div>
            <div class="caixas">
                <img class="fundo" src="../static/img/fundo-vegano.png">
            </div>
            
        </div>
    </main>

    <footer class="rodape">
        <img class="fundo-rodape" src="../static/img/fundo-rodape.png">
        <div class="itens">
            <img class="logo-cabaret" src="../static/img/logo-cabaret.png">
            <img class="logo-cacaReceita" src="../static/img/logo-cacaReceita.png">
            <div>
                <p style="font-weight: 500;">CaçaReceita</p>
                <p>+55 (81) 9 0000-0000</p>
                <p>Cabaret_startup@gmail.com</p>
            </div>
            
        </div>
    </footer>
</body>     
</html>