<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/receitaMiniChefe.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title>Receita</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="fundo-barraPesquisa">
                <div>
                    <input class="barra-pesquisa" type="text">
                    <button class="botao-pesquisar"><img src="{% static 'img/icon-pesquisa.png' %}"></button>
                </div>
                <a href="{% url 'cadastro' %}">
                    <img class="icon-perfil" src="{% static 'img/icon-perfil.png' %}">
                </a>
            </div>
            <nav class="navegacao">
                <ul class="lista-menu">
                    <li><a href="#">Mini Chef</a></li>
                    <li><a href="#">Aprendiz</a></li>
                    <li><a href="#">SubChef</a></li>
                    <li><a href="#">Chef</a></li>
                    <li><a href="#">Confeiteiro</a></li>
                    <li><a href="#">Vegano</a></li>
                </ul>
            </nav>
        </header>

        <main>

            <aside id="anuncio-ifood">
                <img src="{% static 'img/anuncio-ifood.png' %}" alt="">
            </aside>

            <article class="receita">

                <div class="receita-top">

                    <div class="receita-img-audio">
                        <img src="{% static 'img/imagem-receita.png' %}" alt="">

                        <audio controls>
                            <source
                                src="{% static 'audio/Borges, Veigh e MC Cabelinho - Faz Uma Loucura Por Mim (Áudio Oficial).mp3' %}"
                                type="audio/mpeg">
                            Seu navegador não suporta o elemento de áudio.
                        </audio>
                    </div>

                    <div class="receita-info">

                        <h1>Tortinha de Arroz</h1>

                        <div class="receita-acoes">

                            <button class="favoritar">
                                <img src="{% static 'img/favoritar.svg' %}" alt="">
                            </button>

                            <button class="compartilhar">
                                <img src="{% static 'img/compartilhar.svg' %}" alt="">
                            </button>

                            <button class="imprimir" onclick="imprimirPagina()">
                                <img src="{% static 'img/imprimir.svg' %}" alt="">
                            </button>

                            <button class="copiar">
                                <img src="{% static 'img/copiar.svg' %}" alt="">
                            </button>

                        </div>

                        <div class="estrelas">
                            <img src="{% static 'img/estrela.svg' %}" alt="">
                            <img src="{% static 'img/estrela.svg' %}" alt="">
                            <img src="{% static 'img/estrela.svg' %}" alt="">
                            <img src="{% static 'img/estrela.svg' %}" alt="">
                            <img src="{% static 'img/estrela.svg' %}" alt="">
                        </div>

                        <div class="receita-info2">
                            <div class="qtd-pessoas">
                                <img src="{% static 'img/qtd-pessoas.svg' %}" alt="">
                                <p>4</p>
                            </div>

                            <div class="tempo-preparo">
                                <img src="{% static 'img/tempo-preparo.svg' %}" alt="">
                                <p>30 min</p>
                            </div>

                        </div>

                    </div>



                </div>

                <div class="receita-main">
                    <div class="receita-ing">
                        <h1>INGREDIENTES</h1>

                        <h4>Massa com crosta de sobras de arroz</h4>

                        <ul>
                            <li>Meia xícara de arroz branco cozido</li>
                            <li>1 colher de sopa de queijo parmesão ralado</li>
                            <li>1 colher de chá de sal</li>
                            <li>1 ovo</li>
                        </ul>

                        <h4>Rechei da tortinha de arroz</h4>

                        <ul>
                            <li>2 ovos</li>
                            <li>Meia xícaras de chá de cenoura ralada</li>
                            <li>Meia xícara de chá de milho-verde</li>
                            <li>Meia xícara de chá de queijo prato</li>
                            <li>1 colher de sopa de queijo parmesão ralado</li>
                            <li>2 colheres de sopa de creme de leite</li>
                        </ul>

                        <aside id="anuncio-sadia">
                            <img src="{% static 'img/anuncio-sadia.svg' %}" alt="">
                        </aside>

                    </div>

                    <div class="receita-modo-prep">
                        <h1>MODO DE PREPARO</h1>

                        <h4>Massa com crosta de sobras de arroz</h4>

                        <ol>
                            <li>Misture todo o arroz com 1 ovo e 1 colher de sopa de parmesão ralado.</li>
                            <li>Adicione 1 pitada de sal e misture bem, amassando o arroz.</li>
                            <li>Unte as forminhas com 1 fio de azeite e modele a massa de crosta de arroz em cada uma
                                delas.</li>
                            <li>Leve ao forno por 10 minutos a 170 graus Célsius.</li>
                            <li>Retire do forno e reserve.</li>
                        </ol>

                        <aside id="dica">
                            <h3>Dica</h3>
                            <p>Não precisa moldar a massa de crosta de arroz com muita perfeição, pois a ideia é deixar
                                a tortinha mais rústica.</p>
                        </aside>

                        <h4>Recheio da tortinha de arroz</h4>

                        <ol>
                            <li>Em um recipiente, coloque todos os ingredientes do recheio nesta ordem: 1 ovo, meia
                                xícara de cenoura ralada, meia xícara de milho-verde, meia xícara de queijo ralado, 1
                                colher de queijo parmesão ralado, 2 colheres de creme de leite e mais 1 ovo.</li>
                            <li>Coloque também 1 pitada de sal e mexa bem.</li>
                            <li>Recheie as massas de crosta de arroz reservadas.</li>
                            <li>Leve ao forno a 170 graus por mais 15 minutos.</li>
                            <li>Sua tortinha de arroz está pronta para servir.</li>
                        </ol>

                    </div>

                </div>
            </article>

            <section id="comentario">
                <h1>Comentários</h1>

                <div class="adicionar-comentario">
                    <img src="{% static 'img/user.svg' %}" alt="">
                    <input id="escrever-comentario" name="comentario" type="text"
                        placeholder="O que achou da receita? Tem alguma dúvida? Digite aqui...">
                    <button id="enviar-comentario">
                        <img src="{% static 'img/enviar-comentario.svg' %}" alt="">
                    </button>
                </div>

                <div class="comentario-info">
                    <span>2 comentário</span>
                    <div class="bar">
                        <div class="bar2"></div>
                    </div>
                </div>

                <section class="comentarios">
                    <article class="comentario">
                        <div class="usuario-perfil">
                            <img src="{% static 'img/user.svg' %}" alt="">
                            <p class="usuario">Username</p>
                            <button>
                                <p>Responder</p>
                            </button>
                        </div>
                        <p>Lorem ipsum arcu suscipit auctor mattis, facilisis neque porttitor ullamcorper. </p>
                    </article>

                    <article class="comentario">
                        <div class="usuario-perfil">
                            <img src="{% static 'img/user.svg' %}" alt="">
                            <p class="usuario">Username</p>
                            <button>
                                <p>Responder</p>
                            </button>

                        </div>
                        <p>Lorem ipsum arcu suscipit auctor mattis, facilisis neque porttitor ullamcorper. </p>
                    </article>
                </section>

            </section>

        </main>
        <footer class="rodape">
            <img class="fundo-rodape" src="{% static 'img/footer-mini-chefe.svg' %}">
            <div class="itens">
                <img class="logo-cabaret" src="{% static 'img/logo-cabaret.png' %}">
                <img class="logo-cacaReceita" src="{% static 'img/logo-cacaReceita.png' %}">
                <div>
                    <p style="font-weight: 500;">CaçaReceita</p>
                    <p>+55 (81) 9 0000-0000</p>
                    <p>Cabaret_startup@gmail.com</p>
                </div>

            </div>
        </footer>
    </div>
    <script>
        function imprimirPagina() {
          window.print();
        }
      </script>
</body>

</html>