{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação</title>
    <link rel="stylesheet" href="{% static 'css/verificacaoSenha.css' %}">
</head>

<body>
    <div class="container">
        <div class="form-senha">
            <h1>Verificação </h1>
            <p>Insira o codigo de verificação que enviamos para o seu E-mail</p>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %}class="alert alert-{{message.tags}}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form method="POST" class="form-otp">
                {%csrf_token %}
                <div class="otp">
                    <input type="text" name="cod-otp1" class="otpInput" maxlength="1">
                    <input type="text" name="cod-otp2" class="otpInput" maxlength="1">
                    <input type="text" name="cod-otp3" class="otpInput" maxlength="1">
                    <input type="text" name="cod-otp4" class="otpInput" maxlength="1">
                </div>
                <button type="submit">Continuar</button>
            </form>
        </div>
        <div class="img">
            <img src="{% static 'img/esqueciSenhalogo2.svg' %}" alt="">
        </div>

        <a href="{% url 'login'%}">
            <img src="{% static 'img/icon-x.svg' %}" id="icon-x" alt="">
        </a>
    </div>
    <script src="{% static 'js/verificacaoSenha.js' %}"></script>
    
</body>

</html>